* {
  padding: 0px;
  margin: 0px;
}
.footer-container {
  display: flex;
  padding: 75px 40px;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
  background: #d3d3d3;
}
.footer-companyinfo {
  display: flex;
  align-items: flex-start;
  gap: 100px;
}
.logo-footer-cont {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  gap: 15px;
  width: 72%;
}
.logo-footer {
  display: flex;
  align-items: center;
  gap: 8px;
}
.logo-footer p {
  color: #2b2b2b;
  font-family: Nunito Sans;
  font-size: 25px;
  font-weight: 800;
  letter-spacing: 1.25px;
  margin: 7px;
}
.footer-phone p {
  color: #262626;
  align-self: stretch;
  font-family: Lato;
  font-size: 16px;
  font-weight: 500;
  margin: 7px 7px 7px 0px;
}
.footer-address p {
  color: #262626;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  align-self: stretch;
  line-height: 25px;
  margin: 7px 7px 7px 0px;
}
.menu-footer-cont {
  width: 25%;
}
/* .menu-footer-cont ul {
  padding: 0px;
  margin: 0px;
} */
.menu-footer-cont li a {
  text-decoration: none;
  transition: color 0.8s, border-bottom 0.8s;
  cursor: pointer;
  color: #262626;
}
.menu-footer-cont li {
  color: #262626;
  font-family: Lato;
  font-size: 16px;
  font-weight: 500;
  margin: 10px 7px 10px 0px;
}
.menu-footer-cont li a:hover {
  color: #ec795a;
  border-bottom: 0.5px solid #ec795a;
}
.netowrk-footer-cont {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}
.registercont-footer {
  display: flex;
  align-items: center;
  gap: 18px;
}
.registercont-footer p {
  color: #000;
  font-family: Lato;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.36px;
  margin: 7px 7px 7px 0px;
}
.registercont-footer button {
  padding: 10px 14px;
  border: none;
  gap: 10px;
  border-radius: 6px;
  background: #262626;
  color: #d3d3d3;
  font-family: Lato;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.32px;
  cursor: pointer;
  transition: 1s ease;
}
.registercont-footer button:hover {
  background: #515052;
}
.footer-social-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-self: stretch;
}
.footer-social-network {
  display: flex;
  align-items: center;
  gap: 15px;
  align-self: stretch;
}
.footer-rights-cont p {
  color: #262626;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.36px;
  margin: 7px 7px 7px 0px;
}

@media (max-width: 426px) {
  .footer-container {
    padding: 35px 40px;
    flex-direction: column;
    gap: 20px;
  }
  .footer-companyinfo {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
  }
  .logo-footer-cont {
    align-items: flex-start;
    gap: 7px;
    width: 100%;
  }
  .logo-footer {
    display: flex;
    align-items: center;
    gap: 7px;
  }
  .logo-footer img {
    width: 45px;
    height: 45px;
  }
  .logo-footer p {
    font-size: 22px;
  }
  .footer-phone p {
    font-size: 14px;
  }
  .footer-address p {
    font-size: 14px;
  }
  .menu-footer-cont li {
    font-size: 14px;
    margin: 10px 7px 10px 0px;
  }
  .menu-footer-cont {
    width: 100%;
  }
  .netowrk-footer-cont {
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
  }
  .registercont-footer {
    align-items: center;
    align-self: stretch;
    gap: 10px;
  }
  .registercont-footer p {
    font-size: 14px;
  }
  .registercont-footer button {
    padding: 10px 12px;
    font-size: 14px;
  }
  .footer-social-container {
    gap: 10px;
  }
  .footer-social-network {
    gap: 12px;
    align-items: flex-start;
  }
  .footer-rights-cont p {
    font-size: 14px;
    font-weight: 400;
  }
}
@media (min-width: 426px) and (max-width: 769px) {
  .footer-container {
    padding: 40px 25px 50px 25px;
  }
  .footer-companyinfo {
    gap: 15px;
  }
  .logo-footer-cont {
    gap: 7px;
    width: 70%;
  }
  .logo-footer {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .logo-footer img {
    height: 42px;
    width: 42px;
  }
  .logo-footer p {
    font-size: 20px;
    margin: 7px 0px;
  }
  .footer-phone p {
    font-size: 14px;
    margin: 7px 7px 7px 0px;
  }
  .footer-address p {
    font-size: 14px;
    margin: 7px 7px 7px 0px;
  }
  .menu-footer-cont {
    width: 25%;
  }
  .menu-footer-cont li {
    font-size: 14px;
    margin: 10px 7px 10px 0px;
  }
  .menu-footer-cont li:hover {
    width: 15px;
    border-bottom: 2px solid #262626;
  }
  .netowrk-footer-cont {
    gap: 30px;
    align-items: flex-end;
  }
  .registercont-footer {
    gap: 7px;
    flex-direction: column;
    align-items: flex-end;
  }
  .registercont-footer p {
    font-size: 14px;
    margin: 7px 7px 7px 0px;
  }
  .registercont-footer button {
    padding: 8px 12px;
    font-size: 14px;
  }
  .footer-social-container {
    display: flex;
    gap: 7px;
    align-items: flex-end;
  }
  .footer-social-network {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 12px;
  }
  .footer-rights-cont p {
    font-size: 13px;
    font-weight: 400;
    margin: 7px 0px;
  }
}
@media (min-width: 769px) and (max-width: 1025px) {
  .footer-container {
    padding: 40px 40px 50px 40px;
  }
  .footer-companyinfo {
    gap: 30px;
  }
  .logo-footer-cont {
    gap: 7px;
    width: 70%;
  }
  .logo-footer {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .logo-footer img {
    height: 42px;
    width: 42px;
  }
  .logo-footer p {
    font-size: 20px;
    margin: 7px 0px;
  }
  .footer-phone p {
    font-size: 14px;
    margin: 7px 7px 7px 0px;
  }
  .footer-address p {
    font-size: 14px;
    margin: 7px 7px 7px 0px;
  }
  .menu-footer-cont {
    width: 25%;
  }
  .menu-footer-cont li {
    font-size: 14px;
    margin: 10px 7px 10px 0px;
  }
  .menu-footer-cont li:hover {
    width: 15px;
    border-bottom: 2px solid #262626;
  }
  .netowrk-footer-cont {
    gap: 30px;
    align-items: flex-end;
  }
  .registercont-footer {
    gap: 7px;
    flex-direction: column;
    align-items: flex-end;
  }
  .registercont-footer p {
    font-size: 14px;
    margin: 7px 7px 7px 0px;
  }
  .registercont-footer button {
    padding: 8px 12px;
    font-size: 14px;
  }
  .footer-social-container {
    display: flex;
    gap: 7px;
    align-items: flex-end;
  }
  .footer-social-network {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 12px;
  }
  .footer-rights-cont p {
    font-size: 13px;
    font-weight: 400;
    margin: 7px 0px;
  }
}
