<body>
  <div class="footer-container">
    <div class="footer-companyinfo">
      <div class="logo-footer-cont">
        <span class="logo-footer">
          <img src="/assets/logo 1.svg" alt="logo" />
          <p>B&G International</p>
        </span>
        <span class="footer-phone">
          <p>+91 9876543210</p>
          <p>+91 9876543210</p>
        </span>
        <span class="footer-address">
          <p>Old Mahabalipuram Road, Chennai – 600119</p>
        </span>
      </div>
      <div class="menu-footer-cont">
        <ul style="list-style-type: none">
          <li><a [routerLink]="['']">Home</a></li>
          <li><a href="#ourServices">Our Services</a></li>
          <li><a [routerLink]="['/universities']">Universities</a></li>
          <li><a href="#events">Events</a></li>
          <li><a [routerLink]="['']">About us</a></li>
          <li><a [routerLink]="['/contactform']">Contact Form</a></li>
        </ul>
      </div>
    </div>
    <div class="netowrk-footer-cont">
      <span class="registercont-footer">
        <p>Get your dream course</p>
        <button [routerLink]="['/contactform']">Register now</button>
      </span>
      <span class="footer-social-container">
        <span class="footer-social-network">
          <img
            style="cursor: pointer"
            src="/assets/linkedIn.svg"
            alt="linkedInlogo"
          />
          <img
            style="cursor: pointer"
            src="/assets/facebook.svg"
            alt="Facebooklogo"
          />
          <img
            style="cursor: pointer"
            src="/assets/Instagram.svg"
            alt="Instagramlogo"
          />
          <img
            style="cursor: pointer"
            src="/assets/Twiter.svg"
            alt="Twiterlogo"
          />
        </span>
        <span class="footer-rights-cont">
          <p>© techcora. All rights reserved.</p>
        </span>
      </span>
    </div>
  </div>
</body>
