<html>
  <head>
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Nunito+Sans:opsz,wght@6..12,400;6..12,500;6..12,600;6..12,700;6..12,800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="heropage">
      <div style="height: 90px; width: 100%"></div>
      <app-navbar
        style="position: fixed; z-index: 1"
        scrollColorChange
      ></app-navbar>

      <div id="herocont">
        <p>Fulfil your study abroad goals!</p>
      </div>
    </div>
    <div class="contactform-container">
      <div class="contactform-header"><p>Get in touch</p></div>
      <form (submit)="submitForm()">
        <div
          class="form-group"
          style="
            display: flex;
            align-items: flex-start;
            width: 100%;
            gap: 10px;
            align-self: stretch;
          "
        >
          <input
            type="text"
            id="name"
            name="name"
            [(ngModel)]="formData.name"
            required
            placeholder="Your Name*"
          />
          <input
            type="email"
            id="email"
            name="email"
            [(ngModel)]="formData.email"
            required
            placeholder="Your Email*"
          />
          <input
            type="tel"
            id="phone"
            name="phone"
            [(ngModel)]="formData.phone"
            required
            placeholder="Your Phone Number*"
          />
        </div>
        <div
          class="form-group"
          style="
            display: flex;
            align-items: flex-start;
            width: 100%;
            gap: 10px;
            align-self: stretch;
          "
        >
          <input
            type="date"
            id="graduationDate"
            name="graduationDate"
            [(ngModel)]="formData.graduationDate"
            placeholder="High School Graduation Date"
          />
          <input
            type="text"
            id="country"
            name="country"
            [(ngModel)]="formData.country"
            placeholder="Country of Residence"
          />

          <select
            id="gender"
            name="gender"
            [(ngModel)]="formData.gender"
            placeholder="Gender"
          >
            <option value="" disabled selected>Gender</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
          </select>
        </div>

        <div
          class="form-group"
          style="
            display: flex;
            align-items: flex-start;
            width: 100%;
            gap: 10px;
            align-self: stretch;
          "
        >
          <input
            type="text"
            id="collegesConsidered"
            name="collegesConsidered"
            [(ngModel)]="formData.collegesConsidered"
            placeholder="Which colleges are you considering?"
          />
          <select
            id="intendedMajor"
            name="intendedMajor"
            [(ngModel)]="formData.intendedMajor"
            placeholder="Intended Major"
          >
            <option value="" disabled selected>Intended Major</option>
            <option value="major1">Biology science, general</option>
            <option value="major2">Physicology, general</option>
            <option value="major3">Computer science</option>
            <option value="major4">Accounting</option>
            <option value="major4">Mechanical engineering</option>
            <option value="major4">Accounting and finance</option>
            <option value="major4">Accounting and computer science</option>
          </select>
          <select
            id="studyDestination"
            name="studyDestination"
            [(ngModel)]="formData.studyDestination"
            placeholder="Study Destination of Interest"
          >
            <option value="" disabled selected>
              Study Destination of Interest
            </option>
            <option value="destination1">USA</option>
            <option value="destination2">UK</option>
            <option value="destination1">Canada</option>
            <option value="destination2">Germany</option>
            <option value="destination1">Ireland</option>
            <option value="destination2">Australia</option>
            <option value="destination2">France</option>
          </select>
        </div>
        <div
          class="form-group"
          style="
            display: flex;
            align-items: flex-start;
            width: 100%;
            gap: 10px;
            align-self: stretch;
          "
        >
          <select
            id="tuitionBudget"
            name="tuitionBudget"
            [(ngModel)]="formData.tuitionBudget"
            placeholder="Your Yearly Tuition Budget"
          >
            <option value="" disabled selected>
              Your Yearly Tuition Budget
            </option>
            <option value="budget1">More than 20000 USD</option>
            <option value="budget2">Between 12000 USD and 20000 USD</option>
            <option value="budget3">Between 6000 USD and 12000 USD</option>
            <option value="budget4">less than 20000 USD</option>
          </select>
          <select
            id="studyLevel"
            name="studyLevel"
            [(ngModel)]="formData.studyLevel"
            placeholder="Intended Study Level"
          >
            <option value="" disabled selected>Intended Study Level</option>

            <option value="level1">Master's</option>
            <option value="level2">Bachelor's</option>
            <option value="level3">PhD</option>
            <option value="level4">Diploma/certificate</option>
          </select>
          <select
            id="fundingSource"
            name="fundingSource"
            [(ngModel)]="formData.fundingSource"
            placeholder="Your Funding Source"
          >
            <option value="" disabled selected>Your Funding Source</option>
            <option value="source1">Goverment/ empolyer sponsership</option>
            <option value="source2">I have my own money</option>
            <option value="source3">I funded by my parents or relatives</option>
            <option value="source4">I have student loan</option>
            <option value="source5">
              I can only study if I get a partial scholarship
            </option>
            <option value="source6">
              I can only study if I get a full scholarship
            </option>
            <option value="source7">Other's</option>
          </select>
        </div>

        <div class="form-group">
          <textarea
            id="comment"
            name="comment"
            [(ngModel)]="formData.comment"
            placeholder="Leave a Comment"
          ></textarea>
        </div>

        <button type="submit">Submit details</button>
      </form>
    </div>

    <div class="info-section">
      <div class="info-heading">Contact Information</div>
      <div class="info-details">
        <span class="phone-details">
          <h2>Call us</h2>
          <span class="info-phone">
            <p>+91 9876543210</p>
            <p>+91 9876543210</p>
          </span>
        </span>
        <span class="phone-details">
          <h2>Address</h2>
          <span class="info-address">
            <p>Old Mahabalipuram Road, Chennai – 600119</p>
          </span>
        </span>
        <span class="social-details">
          <span class="info-social-network">
            <img
              style="cursor: pointer"
              src="/assets/insta.svg"
              alt="linkedInlogo"
            />
            <img
              style="cursor: pointer"
              src="/assets/facebook1.svg"
              alt="Facebooklogo"
            />
            <img
              style="cursor: pointer"
              src="/assets/instagram1.svg"
              alt="Instagramlogo"
            />
            <img
              style="cursor: pointer"
              src="/assets/twiter1.svg"
              alt="Twiterlogo"
            />
          </span>
        </span>
      </div>
    </div>

    <app-footer></app-footer>
  </body>
</html>
