* {
  margin: 0;
  /* padding: 0; */
  box-sizing: border-box;
}
body {
  height: auto;
  width: 100vw;
  margin: 0;
  padding: 0;
  display: inline-flex;
  flex-direction: column;
  gap: 50px;
  background: #2c3135;
}
#heropage {
  background-image: url("./articlehero-img.svg");
  width: auto;
  height: 60vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding: 0px 0px 50px 0px;
  justify-content: space-between;
}
#herocont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
  padding: 0px 0px 0px 40px;
}
.add-background-color {
  background-color: #2c3135;
  transition: background-color 1s ease;
}
#herocont p {
  color: #f1eae2;
  align-self: stretch;
  font-family: Lato;
  font-size: 40px;
  font-weight: 700;
  line-height: 65px;
}
.breadcrumbs {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  padding: 0px 100px;
}
.breadcrumbs span {
  cursor: pointer;
}
.selected-breadcrumbs {
  transition: 0.6s ease-in-out;
}
.selected-breadcrumbs:hover {
  color: #f5f5f0;
}
.breadcrumbs-box {
  color: #8d8d8b;
  width: 100%;
  font-family: Lato;
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
}
.select-country {
  color: #f5f5f0;

  font-family: Lato;
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
}
.article-container-sub {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  width: 70%;
}
.article-container {
  display: flex;
  justify-content: center;
}
.article-head p {
  color: #f1eae2;
  line-height: 44px;
  font-family: Lato;
  font-size: 32px;
  font-weight: 600;
}
.article-img {
  width: 100%;
  height: 475px;
}
.article-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.article-description p {
  color: #f1eae2;
  align-self: stretch;
  font-family: Lato;
  font-size: 24px;
  font-weight: 600;
  line-height: 35px;
}
.article-section {
  display: flex;
  gap: 0px;
  flex-direction: column;
  align-items: flex-start;

  align-self: stretch;
}

.article-section-head p {
  color: #f1eae2;
  align-self: stretch;
  font-family: Lato;
  font-size: 24px;
  font-weight: 700;
  line-height: 21px;
  padding: 0px;
}
.article-section-description-list {
  color: #d3d3d3;

  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 35px;
}
.article-section-subdescription {
  color: #d3d3d3;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  padding: 0px;
}
.article-social-container {
  display: flex;
  padding: 10px 0px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
.article-author-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
}
.article-date {
  color: #d3d3d3;
  align-self: stretch;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}
.article-author-info {
  display: flex;
  padding: 5px 0px;
  align-items: center;
  gap: 6px;
  align-self: stretch;
}
.article-author-info img {
  width: 50px;
  height: 50px;
}

.article-author-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 7px;
}
.article-author-box p {
  color: #d3d3d3;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
}
.article-author-box h6 {
  color: #f5f5f0;
  font-family: Lato;
  font-size: 18px;
  font-weight: 600;
  line-height: 21px;
}
.social {
  display: flex;
  align-items: center;
  gap: 20px;
}
.social-head {
  color: #d3d3d3;
  font-family: Lato;
  font-size: 16px;
  font-weight: 500;
  line-height: 13px;
}
.social-network-logos {
  display: flex;
  align-items: flex-start;
  gap: 12px;
}
.article-back-button {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
}
.article-back-button button {
  display: flex;
  padding: 11px 30px;
  align-items: center;
  gap: 10px;
  border-radius: 7px;
  background: #e1e6eb;
  border: none;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.article-back-button button:hover {
  background: #adb5bd;
}

.article-back-button button p {
  color: #262626;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
}

.article-keepreading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 100px;
  gap: 38px;
}
.article-header-container {
  display: flex;
  align-items: center;
  width: 100%;
}
.article-header-container h2 {
  font-family: Lato;

  color: #f5f5f0;
  font-size: 28px;
  font-weight: 600;
  line-height: 21px;
}
.article-card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 27px;
  width: 100%;
  justify-content: center;
}
.article-card {
  /* max-width: 360px;
  min-width: 200px; */
  width: fit-content;
  display: flex;
  padding: 15px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  justify-content: space-between;
  border-radius: 15px;
  border: 0.4px solid rgba(213, 209, 209, 0.5);
  cursor: pointer;
  transition: 1s ease-in-out;
}
.article-card:hover {
  transform: scale(1.03);
}
.article-card-img {
  width: 330px;
  height: 233px;
}
.article-card-img img {
  width: 100%;
  height: 100%;

  object-fit: cover;
  border-radius: 15px;
}
.article-card-info {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  width: 100%;
  height: 48px;
  justify-content: space-between;
}
.article-card-info h4 {
  color: #f1eae2;
  width: 260px;
  font-family: Lato;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
.article-card-info img {
  width: 40px;
  height: 40px;
}

@media (max-width: 426px) {
  body {
    gap: 25px;
  }
  #heropage {
    padding: 0px 0px 40px 0px;
    background-image: url("./article-mobile-hero.svg");
  }
  #herocont {
    gap: 10px;
    padding: 0px 0px 0px 15px;
  }
  #herocont p {
    font-size: 24px;
    line-height: 24px;
  }
  .breadcrumbs {
    padding: 0px 12px;
  }
  .breadcrumbs-box {
    font-size: 13px;
  }
  .select-country {
    font-size: 13px;
  }
  .article-container-sub {
    gap: 15px;
    width: 90%;
  }
  .article-head p {
    line-height: 32px;
    font-size: 22px;
  }
  .article-img {
    width: 100%;
    height: 250px;
  }
  .article-description p {
    font-size: 16px;
    line-height: 25px;
  }

  .article-section-head p {
    font-size: 16px;
  }
  .article-section-description-list {
    font-size: 14px;
    line-height: 24px;
  }
  .article-section-subdescription {
    font-size: 14px;
  }
  .article-author-info-container {
    gap: 8px;
  }
  .article-date {
    font-size: 13px;
  }
  .article-author-box p {
    font-size: 13px;
  }
  .article-author-box h6 {
    font-size: 13px;
  }
  .social {
    gap: 15px;
    flex-direction: column;
    align-items: flex-end;
  }
  .social-head {
    font-size: 13px;
    font-weight: 400;
  }
  .social-network-logos img {
    width: 24px;
    height: 24px;
  }
  .social-network-logos {
    display: flex;
    align-items: flex-start;
    gap: 12px;
  }
  .article-back-button button {
    padding: 10px 18px;
  }
  .article-back-button button p {
    font-size: 14px;
  }

  .article-keepreading-container {
    padding: 0px 15px;
    gap: 25px;
  }
  .article-header-container {
    display: flex;
    align-items: center;
    width: 100%;
  }
  .article-header-container h2 {
    font-size: 24px;
    line-height: 21px;
  }
  .article-card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    width: 100%;
    justify-content: center;
  }
  .article-card {
    max-width: 280px;
    min-width: 200px;
    padding: 10px;
    gap: 12px;
    border-radius: 10px;
  }
  .article-card-img img {
    max-width: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
  .article-card-info {
    gap: 10px;
  }
  .article-card-info h4 {
    font-size: 13px;
    line-height: 20px;
  }
  .article-card-info img {
    width: 30px;
    height: 30px;
  }
}
@media (min-width: 426px) and (max-width: 769px) {
  body {
    gap: 25px;
  }
  #heropage {
    padding: 0px 0px 40px 0px;
  }
  #herocont {
    gap: 10px;
  }
  #herocont p {
    font-size: 24px;
    line-height: 24px;
  }
  .breadcrumbs {
    padding: 0px 40px;
  }
  .breadcrumbs-box {
    font-size: 15px;
  }
  .select-country {
    font-size: 15px;
  }
  .article-container-sub {
    gap: 15px;
    width: 90%;
  }
  .article-head p {
    line-height: 32px;
    font-size: 24px;
  }
  .article-img {
    width: 100%;
    height: 350px;
  }
  .article-description p {
    font-size: 18px;
    line-height: 25px;
  }

  .article-section-head p {
    font-size: 18px;
  }
  .article-section-description-list {
    font-size: 14px;
    line-height: 24px;
  }
  .article-section-subdescription {
    font-size: 14px;
  }
  .article-author-info-container {
    gap: 12px;
  }
  .article-date {
    font-size: 14px;
  }
  .article-author-box p {
    font-size: 14px;
  }
  .article-author-box h6 {
    font-size: 14px;
  }
  .social {
    gap: 15px;
  }
  .social-head {
    font-weight: 400;
  }
  .social-network-logos {
    display: flex;
    align-items: flex-start;
    gap: 12px;
  }
  .article-back-button button p {
    font-size: 14px;
  }

  .article-keepreading-container {
    padding: 0px 40px;
    gap: 30px;
  }
  .article-header-container {
    display: flex;
    align-items: center;
    width: 100%;
  }
  .article-header-container h2 {
    font-size: 24px;
    line-height: 21px;
  }
  .article-card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    width: 100%;
    justify-content: center;
  }
  .article-card {
    max-width: 280px;
    min-width: 200px;
  }
  .article-card-img img {
    max-width: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
  .article-card-info {
    gap: 10px;
  }
  .article-card-info h4 {
    font-size: 13px;
    line-height: 20px;
  }
  .article-card-info img {
    width: 30px;
    height: 30px;
  }
}
@media (min-width: 769px) and (max-width: 1025px) {
  body {
    gap: 40px;
  }
  #heropage {
    padding: 0px 0px 50px 0px;
  }
  #herocont {
    gap: 10px;
  }
  #herocont p {
    font-size: 30px;
    line-height: 40px;
  }
  .breadcrumbs {
    padding: 0px 40px;
  }
  .breadcrumbs-box {
    font-size: 15px;
  }
  .select-country {
    font-size: 15px;
  }
  .article-container-sub {
    gap: 25px;
    width: 80%;
  }
  .article-head p {
    line-height: 32px;
    font-size: 26px;
  }
  .article-img {
    width: 100%;
    height: 450px;
  }
  .article-description p {
    font-size: 20px;
    line-height: 27px;
  }

  .article-section-head p {
    font-size: 20px;
  }
  .article-section-description-list {
    font-size: 14px;
    line-height: 27px;
  }
  .article-section-subdescription {
    font-size: 14px;
  }
  .article-author-info-container {
    gap: 12px;
  }
  .article-date {
    font-size: 14px;
  }
  .article-author-box p {
    font-size: 14px;
  }
  .article-author-box h6 {
    font-size: 14px;
  }
  .social {
    gap: 15px;
  }
  .social-head {
    font-weight: 400;
  }
  .social-network-logos {
    display: flex;
    align-items: flex-start;
    gap: 12px;
  }
  .article-back-button button p {
    font-size: 14px;
  }

  .article-keepreading-container {
    padding: 0px 40px;
    gap: 30px;
  }
  .article-header-container {
    display: flex;
    align-items: center;
    width: 100%;
  }
  .article-header-container h2 {
    font-family: Lato;

    color: #f5f5f0;
    font-size: 24px;
    font-weight: 600;
    line-height: 21px;
  }
  .article-card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    width: 100%;
    justify-content: center;
  }
  .article-card {
    max-width: 280px;
    min-width: 200px;
  }
  .article-card-img img {
    max-width: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
  .article-card-info {
    gap: 10px;
  }
  .article-card-info h4 {
    font-size: 13px;
    line-height: 20px;
  }
  .article-card-info img {
    width: 30px;
    height: 30px;
  }
}
